# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vs

# Prisma client
/prisma/client/

# DB data
/cockroach-data/

# ENV
/postgres-data/
.env
local-docker.env

# Local infrastructure data
/local-infrastructure/data/cockroach-data
/local-infrastructure/data/grafana-data
/local-infrastructure/data/prometheus-data
