{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 90,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^node:(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@nestjs/(.*)$",
    "^@shared/(.*)$",
    "^@api/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
